In [1]:
from influxdb import InfluxDBClient
import gmaps
import numpy as np
import gmaps.datasets
import pandas as pd

In [2]:
pmData = pd.read_csv("SDS-again_sensornet_db.csv")
userData = pd.read_csv("SDS-again_sensornet_db_user_coords.csv")

In [3]:
userData=userData.rename(columns={"box":"dev_id"})

In [4]:
userData.dev_id=[(int)(x.split('x')[-1]) for x in userData.dev_id]
pmData.dev_id=[(int)(x.split('x')[-1]) for x in pmData.dev_id]

In [5]:
client = InfluxDBClient(host='sensors.unixjazz.org', port=8086, username='', password='root', database='dbname')

In [6]:
userData

,time,dev_id,latitude,longitude,type,uid
0,2020-02-03T15:10:26.062777692Z,11,38.029883,-78.484047,outdoor,LF
1,2020-02-03T15:17:12.028452672Z,10,38.030613,-78.479057,outdoor,CCI
2,2020-02-03T15:19:09.558288345Z,8,38.047450,-78.483030,outdoor,Angela
3,2020-02-03T15:19:46.211657712Z,7,38.025570,-78.516610,outdoor,Lane
4,2020-02-03T15:20:22.269407826Z,6,38.025092,-78.503586,outdoor,Jimmy
5,2020-02-03T15:21:16.282881852Z,5,38.045801,-78.503947,outdoor,Francis
6,2020-02-03T15:21:46.776226116Z,4,38.027580,-78.515191,outdoor,Alex
7,2020-02-03T15:22:18.474373981Z,3,38.024780,-78.484580,outdoor,Lucas
8,2020-02-03T15:30:52.787212327Z,2,38.065460,-78.495820,outdoor,Zihao
9,2020-02-03T15:35:25.223761163Z,9,38.025759,-78.469295,outdoor,Jon

In [7]:
pmData=pmData.join(userData,on='dev_id',rsuffix='_user',how="outer")

In [8]:
pmData.head()

,time,airtime,channel,co2,coding_rate,data_rate,dev_id,frequency,gtw_id,humidity,...,rssi,snr,temp,timestamp,time_user,dev_id_user,latitude_user,longitude_user,type,uid
0.0,2020-01-28T02:55:28.983734565Z,205824000.0,6.0,660.0,4/5,SF9BW125,3,905.1,sds-gateway-3,50.93,...,-55.0,12.75,19.29,3.642398e+09,2020-02-03T15:19:46.211657712Z,7.0,38.02557,-78.51661,outdoor,Lane
1.0,2020-01-28T03:10:28.924679625Z,205824000.0,7.0,724.0,4/5,SF9BW125,3,905.3,sds-gateway-3,52.81,...,-58.0,11.75,19.36,8.190076e+08,2020-02-03T15:19:46.211657712Z,7.0,38.02557,-78.51661,outdoor,Lane
2.0,2020-01-28T03:25:28.765657517Z,71936000.0,5.0,790.0,4/5,SF7BW125,3,904.9,sds-gateway-3,52.45,...,-51.0,9.50,19.47,1.718859e+09,2020-02-03T15:19:46.211657712Z,7.0,38.02557,-78.51661,outdoor,Lane
3.0,2020-01-28T03:40:28.796397912Z,61696000.0,0.0,818.0,4/5,SF7BW125,3,903.9,sds-gateway-3,51.98,...,-59.0,10.25,19.58,2.618835e+09,2020-02-03T15:19:46.211657712Z,7.0,38.02557,-78.51661,outdoor,Lane
4.0,2020-01-28T03:55:28.737720827Z,61696000.0,1.0,941.0,4/5,SF7BW125,3,904.1,sds-gateway-3,52.22,...,-58.0,10.25,19.58,3.518821e+09,2020-02-03T15:19:46.211657712Z,7.0,38.02557,-78.51661,outdoor,Lane

In [9]:
pmData[['latitude_user','longitude_user','pm25']].dropna()

        latitude_user  longitude_user  pm25
0.0          38.02557       -78.51661   0.0
1.0          38.02557       -78.51661   0.0
2.0          38.02557       -78.51661   0.0
3.0          38.02557       -78.51661   0.0
4.0          38.02557       -78.51661   0.0
...               ...             ...   ...
1186.0       38.06546       -78.49582   0.0
1195.0       38.06546       -78.49582   0.0
1203.0       38.06546       -78.49582   0.0
1210.0       38.06546       -78.49582   0.0
1218.0       38.06546       -78.49582   0.0

[939 rows x 3 columns]

In [10]:
gmaps.configure(api_key="AIzaSyDecS-8zlddtq8ob3-pJD391BEWCtLfn_c") # Your Google API key

In [11]:
pm_loc = [tuple(x) for x in pmData[['latitude_user','longitude_user','pm25']].dropna().values]
co2_loc = [tuple(x) for x in pmData[['latitude_user','longitude_user','co2']].dropna().values]

In [12]:
m = gmaps.Map()
m.add_layer(gmaps.WeightedHeatmap(locations=[x[:2] for x in pm_loc],weights = [x[2] for x in pm_loc],point_radius=50))
m

Map(configuration={'api_key': 'AIzaSyDecS-8zlddtq8ob3-pJD391BEWCtLfn_c'}, data_bounds=[(38.00833111067946, -78…

In [13]:
pm_loc = [tuple(x) for x in pmData[['latitude_user','longitude_user','pm25']].dropna().groupby(['latitude_user','longitude_user']).mean()]
# pmData[['latitude_user','longitude_user','pm25']].groupby(['latitude_user','longitude_user']).mean()

In [14]:
pm_group_means = pmData[['latitude_user','longitude_user','pm25']].dropna().groupby(['latitude_user','longitude_user']).mean()

In [15]:
pm_group_means=pm_group_means.reset_index()

In [29]:
pm_group_means

   latitude_user  longitude_user      pm25
0      38.024780      -78.484580  0.572581
1      38.025092      -78.503586  1.328859
2      38.025570      -78.516610  1.337079
3      38.025759      -78.469295  3.909091
4      38.027580      -78.515191  1.158228
5      38.045801      -78.503947  1.317308
6      38.047450      -78.483030  2.289474
7      38.065460      -78.495820  1.103093

In [20]:
pm_loc = [tuple(x) for x in pm_group_means.values]

In [21]:
pm_loc

[(38.02478, -78.48458000000001, 0.5725806451612904),
 (38.025092, -78.503586, 1.3288590604026846),
 (38.02557, -78.51661, 1.3370786516853932),
 (38.025759, -78.46929499999999, 3.909090909090909),
 (38.02758, -78.515191, 1.1582278481012658),
 (38.045801000000004, -78.503947, 1.3173076923076923),
 (38.04745, -78.48303, 2.289473684210526),
 (38.065459999999995, -78.49582, 1.1030927835051547)]

In [26]:
min(pm_group_means.latitude_user)

38.02478

In [19]:
# mean pm25 map
m = gmaps.Map()
m.add_layer(gmaps.WeightedHeatmap(locations=[x[:2] for x in pm_loc],weights = [x[2] for x in pm_loc],point_radius=50))
m

Map(configuration={'api_key': 'AIzaSyDecS-8zlddtq8ob3-pJD391BEWCtLfn_c'}, data_bounds=[(38.00743690624851, -78…

In [38]:
import numpy as np

In [125]:
weightData = []
for lat in range(int((min(pm_group_means.latitude_user)-.01)*1000),int((max(pm_group_means.latitude_user)+.01)*1000)):
    for long in range(int((min(pm_group_means.longitude_user)-.01)*1000),int((max(pm_group_means.longitude_user)+.01)*1000)):
        pm=0
        for loc in pm_group_means.values:
            dist=np.sqrt(abs(lat-int(loc[0]*1000))**2+abs(long-int(loc[1]*1000))**2)
            try:
                pm+=loc[2]*(1/dist)
            except ZeroDivisionError:
                pm+=0
                
        weightData.append((lat/1000,long/1000,pm))

C:\Users\Jime\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: RuntimeWarning: divide by zero encountered in double_scalars

In [126]:
for loc in pm_loc:
    weightData.append(loc)

In [127]:
weights_no_nan = np.nan_to_num([x for x in weightData],posinf=0)

In [129]:
m = gmaps.Map()
m.add_layer(gmaps.WeightedHeatmap(locations=[x[:2] for x in weights_no_nan],weights = [x[2] for x in weights_no_nan],point_radius=16))
m

Map(configuration={'api_key': 'AIzaSyDecS-8zlddtq8ob3-pJD391BEWCtLfn_c'}, data_bounds=[(38.00877527949473, -78…